@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<a href="http://go.microsoft.com/fwlink/?LinkId=2103850"><font size="3">Use Microsoft Edge with IE mode</font></a>
